*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif ;
    box-sizing: border-box;
    @media (min-width:468px) {
        
    }
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(img.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
h1{
    position: absolute;
    top: 30px;
    color:rgb(11, 245, 233) ;
    text-decoration: underline;
}
form{
    border: 2px solid rgb(255, 255, 255,0.06);
    box-shadow: 0 0 55px;
    border-radius: 30px 0px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding:30px;
    position: relative;
    text-align: center;
    gap: 5px;
    backdrop-filter: blur(22px);
}
.heading{
    color: rgba(211, 248, 2,0.89);
    position: absolute;
    top: 15px;
}
input{
    border: none;
    outline: none;
    border-bottom: 2px solid cyan;
    border-radius: 50px;
    padding: 0 40px 0 10px;
    color: wheat;
    background: none;
}
input::placeholder{
    color: rgb(255, 255, 255);
}
label{
    color: rgb(41, 192, 142);
}
span{
    color: beige;
}
button{
    width: 80px;
    padding: 5px;
    position: absolute;
    box-shadow: 0 0 35px cyan;
    background-color: aqua;
    border: none;
}
#save{
    bottom: 0;
    right: 0;
    border-radius: 7px 0 20px 0;
    height: 30px;
}
input#clear{
    position: absolute;
    bottom: 7px;
    left: 7px;
    height: 30px;
    border-bottom: none;
    text-decoration: underline;
}
table{
    backdrop-filter: blur(30px);
    text-align: center;
   
}
thead{
    color: rgb(211, 211, 36);
}
tbody{
    color: beige;
}
#info{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 20px;
    background-color:cyan;
}
.td{
    position: relative;
    width: 100px;
}
.innerbtn{
   all: unset; 
   color: cyan;
}
.box{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    background: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 90px 1px ;
    display: none;
}
#close{
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 5px 5px 20px 5px;
}
.box h1{
    position: absolute;
    top: 10px;
    left: 35%;
}